.cont {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 45% 0;
}

@media screen and (min-device-width: 700px) {
  .cont {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 10% 0;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f7f9fc;
}
